<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- Import a trusted contact from the device address book. -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <application
        android:label="@string/app_name"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">

        <!-- Runtime app-icon switching (flutter_dynamic_icon_plus). On Android
             the swap is applied when the task is removed from recents, so this
             service must survive the task removal (stopWithTask=false) to run
             its onTaskRemoved handler. -->
        <service
            android:name="com.solusibejo.flutter_dynamic_icon_plus.FlutterDynamicIconPlusService"
            android:stopWithTask="false" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:enabled="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Alternate launcher icons. Each alias re-points the launcher at a
             different icon + label and targets MainActivity. All start disabled;
             the plugin enables the chosen one (and disables the rest) when the
             app is closed. ".original" restores the real Kamkor icon (passing
             null does not re-enable MainActivity on Android, so we need it). -->
        <activity-alias
            android:name=".original"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:roundIcon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".calculator"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_calculator"
            android:roundIcon="@mipmap/ic_calculator"
            android:label="@string/icon_calculator"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".notes"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_notes"
            android:roundIcon="@mipmap/ic_notes"
            android:label="@string/icon_notes"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".weather"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_weather"
            android:roundIcon="@mipmap/ic_weather"
            android:label="@string/icon_weather"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".clock"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_clock"
            android:roundIcon="@mipmap/ic_clock"
            android:label="@string/icon_clock"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".calendar"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_calendar"
            android:roundIcon="@mipmap/ic_calendar"
            android:label="@string/icon_calendar"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".gallery"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_gallery"
            android:roundIcon="@mipmap/ic_gallery"
            android:label="@string/icon_gallery"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity-alias>

        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
    <!-- Required to query activities that can process text, see:
         https://developer.android.com/training/package-visibility and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
        <!-- url_launcher: dialing emergency numbers and opening map links. -->
        <intent>
            <action android:name="android.intent.action.DIAL"/>
            <data android:scheme="tel"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <data android:scheme="geo"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <data android:scheme="https"/>
        </intent>
        <!-- 2GIS deep links for opening recorded coordinates on the map. -->
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <data android:scheme="dgis"/>
        </intent>
    </queries>
</manifest>
